<!-- START CLENT -->
<section class="section bg-light" id="client">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="heading-box text-center">
          <h3 class="heading-title"><span class="fw-normal">What they say about us</span>
            honest reviews</h3>
          <p class="heading-desc text-muted mt-3">The Big Oxmox advised her not to do so, because there
            were thousands
            of bad Commas, wild Question Marks and devious Semikoli.</p>
        </div>
      </div>
    </div>

    <div class="row mt-5 pt-4">
      <div class="col-lg-12">
        <div class="client-slider">
          <div class="client-item">
            <div class="row">
              <div class="col-lg-4">
                <div class="mt-4">
                  <div class="testi-img">
                    <img src="/assets/images/users/img-2.jpg" class="img-fluid" alt="">
                  </div>

                  <div class="testi-icon bg-primary">
                    <i class="mdi mdi-format-quote-open text-white"></i>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="testi-box mt-4 rounded">
                  <p class="testi-title text-muted mb-2">“I feel confident imposing change on
                    myself. It's a lot more fun proging than looking back. That's why I
                    ultricies
                    enim at malesuada creatures and the whole of quis
                    consectetur nunc diam on tortor throw curve balls.”</p>
                  <div class="row align-items-center">
                    <div class="col-lg-6">
                      <div class="mt-4">
                        <h5 class="f-18 mb-0">Brandon Carney</h5>
                        <p class="text-muted mb-0">- Designer</p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mt-4">
                        <ul class="list-inline text-end mb-0">
                          <li class="list-inline-item"><i
                              class="mdi mdi-star text-warning f-16"></i></li>
                          <li class="list-inline-item"><i
                              class="mdi mdi-star text-warning f-16"></i></li>
                          <li class="list-inline-item"><i
                              class="mdi mdi-star text-warning f-16"></i></li>
                          <li class="list-inline-item"><i
                              class="mdi mdi-star text-warning f-16"></i></li>
                          <li class="list-inline-item"><i
                              class="mdi mdi-star text-warning f-16"></i></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end -->

          <div class="client-item">
            <div class="row">
              <div class="col-lg-4">
                <div class="mt-4">
                  <div class="testi-img">
                    <img src="/assets/images/users/img-1.jpg" class="img-fluid" alt="">
                  </div>

                  <div class="testi-icon bg-primary">
                    <i class="mdi mdi-format-quote-open text-white"></i>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="testi-box mt-4 rounded">
                  <p class="testi-title text-muted mb-2">“Our task must be to free ourselves by
                    widening our circle of comsion to embrace all living
                    creatures and the whole of quis consectetur nunc sit amet semper justo.
                    scelerisque pretium nature and its beauty.”</p>
                  <div class="row align-items-center">
                    <div class="col-lg-6">
                      <div class="mt-4">
                        <h5 class="f-18 mb-0">Jeremiah Eskew</h5>
                        <p class="text-muted mb-0">- Devloaper</p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mt-4">
                        <ul class="list-inline text-end mb-0">
                          <li class="list-inline-item"><i
                              class="mdi mdi-star text-warning f-16"></i></li>
                          <li class="list-inline-item"><i
                              class="mdi mdi-star text-warning f-16"></i></li>
                          <li class="list-inline-item"><i
                              class="mdi mdi-star text-warning f-16"></i></li>
                          <li class="list-inline-item"><i
                              class="mdi mdi-star text-warning f-16"></i></li>
                          <li class="list-inline-item"><i
                              class="mdi mdi-star text-warning f-16"></i></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End -->


          <div class="client-item">
            <div class="row">
              <div class="col-lg-4">
                <div class="mt-4">
                  <div class="testi-img">
                    <img src="/assets/images/users/img-3.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="testi-icon bg-primary">
                    <i class="mdi mdi-format-quote-open text-white"></i>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="testi-box mt-4 rounded">
                  <p class="testi-title text-muted mb-2">“I've learned that people will forget
                    what you said, people will forget what you did, but
                    people will never aliquam in nunc quis tincidunt forget how you never forget
                    how donec in efficitur lectus,
                    them feel.”</p>
                  <div class="row align-items-center">
                    <div class="col-lg-6">
                      <div class="mt-4">
                        <h5 class="f-18 mb-0">Zachary Tevis</h5>
                        <p class="text-muted mb-0">- Manager</p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="mt-4">
                        <ul class="list-inline text-end mb-0">
                          <li class="list-inline-item"><i
                              class="mdi mdi-star text-warning f-16"></i></li>
                          <li class="list-inline-item"><i
                              class="mdi mdi-star text-warning f-16"></i></li>
                          <li class="list-inline-item"><i
                              class="mdi mdi-star text-warning f-16"></i></li>
                          <li class="list-inline-item"><i
                              class="mdi mdi-star text-warning f-16"></i></li>
                          <li class="list-inline-item"><i
                              class="mdi mdi-star text-warning f-16"></i></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="row mt-5">
      <div class="col-lg-3">
        <div class="client-images mt-4">
          <img src="/assets/images/clients/img-1.png" alt="logo-img" class="mx-auto img-fluid d-block">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="client-images mt-4">
          <img src="/assets/images/clients/img-2.png" alt="logo-img" class="mx-auto img-fluid d-block">
        </div>
      </div>
      <div class="col-lg-3 ">
        <div class="client-images mt-4">
          <img src="/assets/images/clients/img-3.png" alt="logo-img" class="mx-auto img-fluid d-block">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="client-images mt-4">
          <img src="/assets/images/clients/img-4.png" alt="logo-img" class="mx-auto img-fluid d-block">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END CLIENT -->
