<!-- START COUNTER -->
<section class="section-sm bg-counter">
  <div class="color-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="counter-box text-center mt-4 mt-lg-0 text-white">
          <div class="mt-4">
            <i class="pe-7s-user display-4"></i>
          </div>
          <h1 class="counter_value mt-3" data-target="370">0</h1>
          <p class="mb-0 mt-2 text-uppercase">Happy Clients</p>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="counter-box text-center mt-4 mt-lg-0 text-white">
          <div class="mt-4">
            <i class="pe-7s-portfolio display-4"></i>
          </div>
          <h1 class="counter_value mt-3" data-target="685">0</h1>
          <p class="mb-0 mt-2 text-uppercase">Projects Done</p>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="counter-box text-center mt-4 mt-lg-0 text-white">
          <div class="mt-4">
            <i class="pe-7s-medal display-4"></i>
          </div>
          <h1 class="counter_value mt-3" data-target="125">0</h1>
          <p class="mb-0 mt-2 text-uppercase">Awward Won</p>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="counter-box text-center mt-4 mt-lg-0 text-white">
          <div class="mt-4">
            <i class="pe-7s-stopwatch display-4"></i>
          </div>
          <h1 class=" mt-3"> <span class="counter_value" data-target="500">0</span>k</h1>
          <p class="mb-0 mt-2 text-uppercase">Hours of Work</p>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- END COUNTER -->
