<!-- START CTA -->
<div class="section-sm bg-cta" id="contact">
  <div class="color-overlay"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="heading-box text-white text-center">
          <h3 class="heading-title">Let's Get Started</h3>
          <p class="heading-desc text-white-50 mt-3">
            something about do you have a x that needs y or a wonk that needs ah?
          </p>

          <p class="mt-4 mb-0">Email us at <a href="mailto:info@morganasoftworks.com">info@morganasoftworks.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END CTA -->
