<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="/assets/images/favicon.ico">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">

  <!--Material Icon -->
  <link rel="stylesheet" type="text/css" href="/assets/css/materialdesignicons.min.css" />

  <!-- Pe-icon-7 icon -->
  <link rel="stylesheet" type="text/css" href="/assets/css/pe-icon-7-stroke.css">

  <!-- tinyslider -->
  <link rel="stylesheet" href="/assets/css/tiny-slider.css">

  <!-- Custom  Css -->
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

  {% seo %}
</head>
