<!-- START HOME -->
<section class="section bg-home-6 align-items-center" id="home">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="mt-4">
          <h1 class="home-title fw-normal">Super Fast Professional Invoicing <span class="fw-bold"> For
                                Freelancers</span>
          </h1>

          <p class="home-desc text-muted mt-4">A digital web design studio creating modern & engaging
            online. Separated they live in Bookmarksgrove
            right the Semantics, a large language ocean.</p>
          <div class="mt-5">
            <a href="#" data-bs-toggle="modal"
               data-bs-target="#watchvideomodal" class="btn btn-primary btn-round">Get Started Now
              <span class="play-shadow ms-2"><span class="home-btn"><i
                  class="mdi mdi-play text-center"></i></span></span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-5 offset-lg-1">
        <div class="home-registration-form bg-white p-5 mt-4">
          <h5 class="form-title mb-4 text-center">Get 30 day FREE Trial</h5>
          <form class="registration-form">
            <label class="text-muted">First Name</label>
            <input type="text" id="exampleInputName1" class="form-control mb-3 registration-input-box">
            <label class="text-muted">Last Name</label>
            <input type="text" id="exampleInputName2" class="form-control mb-3 registration-input-box">
            <label class="text-muted">Email</label>
            <input type="email" id="exampleInputEmail1"
                   class="form-control mb-3 registration-input-box">
            <button class="btn btn-primary w-100 mt-3">Free Trial</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade bd-example-modal-lg" id="watchvideomodal" data-keyboard="false" tabindex="-1"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg">
      <div class="modal-content home-modal">
        <div class="modal-header border-0">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <video id="VisaChipCardVideo" class="video-box" controls>
          <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
          <!--Browser does not support <video> tag -->
        </video>
      </div>
    </div>
  </div>
</section>
<!-- END HOME -->
