<!-- START PRICING -->
<section class="section" id="pricing">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="heading-box text-center">
          <h3 class="heading-title"><span class="fw-normal">Start your creative project </span> with the
            right plans</h3>
          <p class="heading-desc text-muted mt-3">Call to action pricing table is really crucial to your
            for your business website.
            Make your bids stand-out with amazing options.</p>
        </div>
      </div>
    </div>

    <div class="row mt-5 pt-4">
      <div class="col-lg-4">
        <div class="pricing-box bg-white text-center mt-4 hover-effect">
          <div class="pricing-plan">
            <h5 class="mb-0">Free Plan</h5>
          </div>
          <div class="pricing-price bg-light">
            <h1 class="mb-1">$79</h1>
            <p class="text-uppercase text-muted f-13 mb-0">Billing Per Month</p>
          </div>

          <div class="pricing-features">
            <div>
              <p>Up to <span class="fw-bold">10</span> Users</p>
              <p><span class="fw-bold">5</span> Projects</p>
              <p><span class="fw-bold">Free</span> Update</p>
              <p><span class="fw-bold">10GB</span> Storage</p>
              <p><span class="fw-bold">1</span> Domain Name</p>
              <p><span class="fw-bold">2</span> Month pcense</p>
              <p><span class="fw-bold">24/7</span> Support</p>
            </div>

            <div class="mt-4 pt-2">
              <a href="" class="btn btn-primary">Start with Zoise</a>
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-4">
        <div class="pricing-box bg-white text-center mt-4 hover-effect">
          <div class="pricing-lable">
            <span class="lable-name text-uppercase">Popular</span>
          </div>
          <div class="pricing-plan">
            <h5 class="mb-0">Basic Plan</h5>
          </div>
          <div class="pricing-price bg-light">
            <h1 class="mb-1">$129</h1>
            <p class="text-uppercase text-muted f-13 mb-0">Billing Per Month</p>
          </div>

          <div class="pricing-features">
            <div>
              <p>Up to <span class="fw-bold">10</span> Users</p>
              <p><span class="fw-bold">5</span> Projects</p>
              <p><span class="fw-bold">Free</span> Update</p>
              <p><span class="fw-bold">10GB</span> Storage</p>
              <p><span class="fw-bold">1</span> Domain Name</p>
              <p><span class="fw-bold">2</span> Month pcense</p>
              <p><span class="fw-bold">24/7</span> Support</p>
            </div>

            <div class="mt-4 pt-2">
              <a href="" class="btn btn-primary">Start with Zoise</a>
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-4">
        <div class="pricing-box bg-white text-center mt-4 hover-effect">
          <div class="pricing-plan">
            <h5 class="mb-0">Premium Plan</h5>
          </div>
          <div class="pricing-price bg-light">
            <h1 class="mb-1">$249</h1>
            <p class="text-uppercase text-muted f-13 mb-0">Billing Per Month</p>
          </div>

          <div class="pricing-features">
            <div>
              <p>Up to <span class="fw-bold">10</span> Users</p>
              <p><span class="fw-bold">5</span> Projects</p>
              <p><span class="fw-bold">Free</span> Update</p>
              <p><span class="fw-bold">10GB</span> Storage</p>
              <p><span class="fw-bold">1</span> Domain Name</p>
              <p><span class="fw-bold">2</span> Month pcense</p>
              <p><span class="fw-bold">24/7</span> Support</p>
            </div>

            <div class="mt-4 pt-4">
              <a href="" class="btn btn-primary">Start with Zoise</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- END PRICING -->
